{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AVINASH PORTFOLIO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="{% static 'pastel.css' %}">
</head>
<body>
<!-- Menu Items -->
<nav>
 <input type="checkbox" id="show-menu" role="button">
 <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
 <label for="show-menu" class="close"><span class="fa fa-times"></label>
 <ul id="menu">
  <li><a href="/">Home</a></li> 
  <li><a href="/work">Work Experience</a></li>
  <li><a class="active" href="#">Education</a></li>
  <li><a a href="/research">Research</a></li>
  <li><a href="/certifications">Certifications</a></li>
 </ul>
</nav>
<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>Avinash Deepak Sugyan</h1>
  <p class="sub">Mechanical Engineer and a Software Engineer.</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
 <div class="pageitem">
  <h2>UNIVERSITY OF GLASGOW</h2>
  <p class="sub"><b> Master of Science in Mechanical Engineering</b></p>
  <p class="sub">Jun 2020 | Glasgow, Scotland</p>
  <!--<p class="sub">Sed sed neque sed quam aliquet mattis.</p>-->
  <ul>
    <li>Advanced Manufacture</li>
    <li>Advanced Control </li>
    <li>Autonomous Vehicle Guidance Systems</li>
    <li>Dynamics</li>
    <li>Materials Engineering</li>
    <li>Lasers</li>
   </ul>
 </div>
 <div class="pageitem">
    <h2>SRM UNIVERSITY</h2>
    <p class="sub"><b>Bachelor in Technology</b></p>
    <p class="sub">May 2017 | Delhi NCR Campus, India</p>
    <!--<p class="sub">Sed sed neque sed quam aliquet mattis.</p>-->
    <ul>
        <li>Mechanics of Solids</li>
        <li>Robotics Engineering and Applications</li>
        <li>Gas Dynamics and Space Propulsion</li>
        <li>Elements of Mechatronics</li>
        <li>Mechanical Engineering Design</li>
        <li>Engineering Mechanics</li>
        <li>Fluid Power Control</li>
       </ul>      
   </div>
 </div>
 <!-- Footer Items -->
<div id="footer">
  <p>&copy; Avinash Sugyan</p>
  <!--Credits below must be kept under CC-NC 3.0 License-->
  <p>Contact me:</p>
  <p>Twitter:<a href="https://twitter.com/SugianAvinash"> @SugianAvinash</a></p>
  <p>LinkedIn:<a href="https://www.linkedin.com/in/avinashdeepaksugyan/"> avinashdeepaksugyan</a></p>
 </div>
 <!-- // -->
 </body>
 </html>