{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AVINASH PORTFOLIO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="{% static 'pastel.css' %}">
</head>
<body>
<!-- Menu Items -->
<nav>
 <input type="checkbox" id="show-menu" role="button">
 <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
 <label for="show-menu" class="close"><span class="fa fa-times"></label>
 <ul id="menu">
  <li><a class="active" href="#">Home</a></li>
  <li><a href="/work">Work Experience</a></li>
  <li><a href="/education">Education</a></li>
  <li><a href="/research">Research</a></li>
  <li><a href="/certifications">Certifications</a></li>
 </ul>
</nav>
<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>Avinash Deepak Sugyan</h1>
  <p class="sub">Mechanical Engineer and a Software Engineer.</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
 <div class="pageitem">
  <h2>Personal Background</h2>
  <!--<p class="sub">Sed sed neque sed quam aliquet mattis.</p>-->
  <p>A focused mechanical engineer graduate with proficiency in MATLAB, Manufacturing, Optimal Control, quality control and dynamics with good knowledge in python and
    Django. Experienced programmer in multiple languages, with constant development from undergraduate level. 
    Highly capable independent learner, problemsolver and researcher who can prioritize and timemanage during various technical
    challenges; seeks a challenging position that will help me capitalize on my knowledge
    and education, also which will enhancemy technical and professional skills to add value
    to the organization at all stages.</p>
 </div>
 <div class="pageitem">
  <h2>Skills</h2>
  <div class="three-col-cell">
   <h3>Programming Skills</h3>
   <ul>
    <li>Python</li>
    <li>MATLAB</li>
    <li>SQL</li>
    <li>Django</li>
   </ul>
  </div>
  <div class="three-col-cell">
   <h3>Mechanical Skills</h3>
   <ul>
    <li>AutoCAD</li>
    <li>FEA</li>
    <li>FEM</li>
    <li>PLC</li>
    <li>Quality Control/Quality Check</li>
   </ul>
  </div>
  <div class="three-col-cell">
    <h3>Other Skills</h3>
    <ul>
     <li>MS Office</li>
     <li>AWS Cloud Computing (Learning)</li>
     <li>Machine Learning </li>
   </div>
 </div>
 <!-- // -->
</div>
<!-- Footer Items -->
<div id="footer">
 <p>&copy; Avinash Sugyan</p>
 <!--Credits below must be kept under CC-NC 3.0 License-->
 <p>Contact me:</p>
 <p>Twitter:<a href="https://twitter.com/SugianAvinash"> @SugianAvinash</a></p>
 <p>LinkedIn:<a href="https://www.linkedin.com/in/avinashdeepaksugyan/"> avinashdeepaksugyan</a></p>
</div>
<!-- // -->
</body>
</html>