{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AVINASH PORTFOLIO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="{% static 'pastel.css' %}">
</head>
<body>
<!-- Menu Items -->
<nav>
 <input type="checkbox" id="show-menu" role="button">
 <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
 <label for="show-menu" class="close"><span class="fa fa-times"></label>
 <ul id="menu">
  <li><a href="/">Home</a></li> 
  <li><a href="/work">Work Experience</a></li>
  <li><a href="/education">Education</a></li>
  <li><a class="active" href="#">Research</a></li>
  <li><a href="/certifications">Certifications</a></li>
 </ul>
</nav>
<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>Avinash Deepak Sugyan</h1>
  <p class="sub">Mechanical Engineer and a Software Engineer.</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
 <div class="pageitem">
  <h2>Postraduate Research Project</h2>
  <p class="sub"><b> Flight Dynamics: Perturbations from Non-Spherical Bodies (Asteroids)</b></p>
  <!--<p class="sub">Sed sed neque sed quam aliquet mattis.</p>-->
  <p>Using MATLAB and General Mission Analysis Tool (GMAT) found out the distance
    after which the perturbations due to the non-spherical shape of the asteroid had no
    effects on the spacecraft orbiting around the asteroid, that is the asteroid could
    behave as a spherical body for a two-body system and a three- body system. Project
    was done underthe guidance of <a href="https://www.gla.ac.uk/schools/engineering/staff/matteoceriotti//">Matteo Cerrioti.</a></p>
 </div>
 <div class="pageitem">
    <h2>Undergraduate Research Project</h2>
    <p class="sub"><b>Implementation of Lean Manufacturing to study the Process Cycle Efficiency using Value Stream Mapping Tool (5S techniques)</b></p>
    <!--<p class="sub">Sed sed neque sed quam aliquet mattis.</p>-->
    <p>Using Lean Manufacturing and 5s techniques found ways to increase the production
        and decrease the production time in an small-medium industries in India using Value
        Stream Mapping tool.</p>
   </div>
 </div>
 <!-- Footer Items -->
<div id="footer">
  <p>&copy; Avinash Sugyan</p>
  <!--Credits below must be kept under CC-NC 3.0 License-->
  <p>Contact me:</p>
  <p>Twitter:<a href="https://twitter.com/SugianAvinash"> @SugianAvinash</a></p>
  <p>LinkedIn:<a href="https://www.linkedin.com/in/avinashdeepaksugyan/"> avinashdeepaksugyan</a></p>
 </div>
 <!-- // -->
 </body>
 </html>