{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AVINASH PORTFOLIO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Description" lang="en" content="open source html and css template">
<meta name="author" content="mlp design">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="{% static 'pastel.css' %}">
</head>
<body>
<!-- Menu Items -->
<nav>
 <input type="checkbox" id="show-menu" role="button">
 <label for="show-menu" class="open"><span class="fa fa-bars"></span></label>
 <label for="show-menu" class="close"><span class="fa fa-times"></label>
 <ul id="menu">
  <li><a href="/">Home</a></li> 
  <li><a class="active" href="#"href="/work">Work Experience</a></li>
  <li><a href="/education">Education</a></li>
  <li><a a href="/research">Research</a></li>
  <li><a href="/certifications">Certifications</a></li>
 </ul>
</nav>
<!-- // -->
<!-- Banner -->
<div id="banner">
 <div id="header">
  <h1>Avinash Deepak Sugyan</h1>
  <p class="sub">Mechanical Engineer and a Software Engineer.</p>
 </div>
</div>
<!-- // -->
<div id="content">
 <!-- Page Items -->
 <div class="pageitem">
  <h2>AUROSCAN UK PVT LTD</h2>
  <p class="sub"><b> Flight Dynamics: Perturbations from Non-Spherical Bodies (Asteroids)</b></p>
  <p class="sub">Oct 2019 - Jan 2020 | Crewe, England</p>
  <!--<p class="sub">Sed sed neque sed quam aliquet mattis.</p>-->
  <ul>
    <li> Worked with a team of 10+ to inspect and troubleshoot the daily production
        problems in production line at the Bentley site, Crewe (UK)
        
    </li>       
    <li> Kept inventory of different car parts like fuel injectors in production line

    </li> 
    <li>  Decreased the production time on doors by providing a solution to lessen the
        friction problem being faced by the bolts that hold the leather/plastic cover on
        the door
    </li>
</ul> 
 </div>
 <div class="pageitem">
    <h2>GENNEXT LAB TECHNOLOGIES</h2>
    <p class="sub"><b>Service Engineer</b></p>
    <p class="sub">Jul 2017 - Aug 2018 | Delhi, India</p>
    <!--<p class="sub">Sed sed neque sed quam aliquet mattis.</p>-->
    <ul>
        <li>  Worked with a team to install, do quality checks and provide technical support
            forthe machines that were installed or sold to the customers
        </li>       
        <li>  Read different machine drawings to understand the lab machines in orderto
            repair them
        </li> 
        <li> Made customerrelations by providing tech support in time and providing full
            assistance
        </li>
    </ul>      
   </div>
 </div>
 <!-- Footer Items -->
<div id="footer">
    <p>&copy; Avinash Sugyan</p>
    <!--Credits below must be kept under CC-NC 3.0 License-->
    <p>Contact me:</p>
    <p>Twitter:<a href="https://twitter.com/SugianAvinash"> @SugianAvinash</a></p>
    <p>LinkedIn:<a href="https://www.linkedin.com/in/avinashdeepaksugyan/"> avinashdeepaksugyan</a></p>
   </div>
   <!-- // -->
   </body>
   </html>